.navbar {
    overflow: hidden;
    background-color: rgb(33, 219, 126);
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    color: mintcream;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: skyblue;
    color: black;
}
  
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

.header {
    font-size: 15px;
    float: middle;
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    color: rgb(1, 20, 20);
}
.h3 {
    float: right;
}

.imgContainer {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}